@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
  background-color: #141414;
  border-radius: 10px;
  margin: 4px;
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 50px;
  border: 4px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1f1f1f;
  transform: scale(1.1);
  z-index: 10;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: #141414; /* Match the background color to avoid white padding */
  z-index: 10;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bouncing-button {
  @apply animate-bounce;
  animation-play-state: running;
}

.bouncing-button:hover {
  animation-play-state: paused;
}

.circle {
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 0;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: blur(0);
}

.group:hover .circle {
  width: 300px;
  height: 300px;
  filter: blur(150px);
}

.hidden-animate{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(5%);
  transition: all 1.5s;
}

.show-animate{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.hidden-animate-bot{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(15%);
  transition: all 5s;
}

.show-animate-bot{
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

@keyframes animateLine {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 592px;
  }
}

.line-animation {
  max-height: 0;
  overflow: hidden;
  animation: animateLine 1s ease forwards;
}

@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 67%;
  }
}

.grow {
  animation: growWidth 1s forwards;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}


